#enviar
{
    width: 950%;
}
#contador
{
    border: 2px solid #022649;
    background-color: #e6f0ff;
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 15px 25px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto 2rem auto; 
    box-shadow: 0 4px 8px rgba(0, 64, 128, 0.2);
    text-align: center;    
}